name: app
description: "J’agis vous accompagne à chaque étape de la transition écologique."
publish_to: "none"
version: 1.4.12+0

environment:
  sdk: 3.8.1
  flutter: 3.32.4

dependencies:
  animated_digit: 3.2.3
  app_ds:
    path: ../packages/app_ds
  clock: 1.1.2
  collection: 1.19.1
  cupertino_icons: 1.0.8
  device_info_plus: 11.5.0
  dio: 5.8.0+1
  easy_image_viewer: 1.5.1
  equatable: 2.0.7
  firebase_core: 3.14.0
  firebase_messaging: 15.2.7
  flutter:
    sdk: flutter
  flutter_bloc: 9.1.1
  flutter_dsfr:
    git:
      url: https://github.com/Octo-Open-Source/flutter-dsfr.git
  flutter_inappwebview: 6.1.5
  flutter_inset_shadow: 2.0.3
  flutter_localizations:
    sdk: flutter
  flutter_map: 8.1.1
  flutter_native_splash: 2.4.6
  flutter_secure_storage: 9.2.4
  flutter_widget_from_html_core: 0.16.0
  fpdart: 1.1.1
  fwfh_webview: 0.15.4
  go_router: 15.2.3
  gpt_markdown: 1.0.20
  html: 0.15.6
  intl: 0.20.2
  jovial_svg: 1.1.27
  latlong2: 0.9.1
  matomo_tracker: 6.0.0
  meta: 1.16.0 # Bloqué en 1.16.0 par flutter_test
  native_dio_adapter: 1.4.0
  package_info_plus: 8.3.0
  pinput: 5.0.1
  rxdart: 0.28.0
  sentry_dio: 8.14.2 # Bloqué en 8.14.2 par cronet_http qui doit passer jni en 0.14.0
  sentry_flutter: 8.14.2 # Bloqué en 8.14.2 par cronet_http qui doit passer jni en 0.14.0
  share_plus: 11.0.0
  url_launcher: 6.3.1

dev_dependencies:
  bdd_widget_test: 1.8.2
  build_runner: 2.5.3
  dart_code_metrics_presets: 2.22.0
  faker: 2.2.0
  flutter_launcher_icons: 0.14.4
  flutter_test:
    sdk: flutter
  jagis_lints:
    path: ../packages/jagis_lints
  mocktail: 1.0.4
  mocktail_image_network: 1.2.0
  nested: 1.0.0
  plugin_platform_interface: 2.1.8
  url_launcher_platform_interface: 2.3.2

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/

# 'dart run flutter_native_splash:create' to update
flutter_native_splash:
  color: "#EDFEE7"
  color_dark: "#EDFEE7"
  image: "assets/launcher_icons/icon-splashscreen.png"
  android_12:
    image: "assets/launcher_icons/icon-splashscreen.png"
    icon_background_color: "#EDFEE7"
    icon_background_color_dark: "#EDFEE7"
