name: app
description: "J’agis vous accompagne à chaque étape de la transition écologique."
publish_to: "none"
version: 1.7.4+0

environment:
  sdk: 3.9.0
  flutter: 3.35.2

dependencies:
  animated_digit: 3.3.1+2
  app_ds:
    path: ../packages/app_ds
  clock: 1.1.2
  collection: 1.19.1
  cupertino_icons: 1.0.8
  device_info_plus: 11.5.0
  dio: 5.9.0
  easy_image_viewer: 1.5.1
  equatable: 2.0.7
  firebase_core: 4.1.0
  firebase_messaging: 16.0.1
  flutter:
    sdk: flutter
  flutter_bloc: 9.1.1
  flutter_dsfr:
    git:
      url: https://github.com/Octo-Open-Source/flutter-dsfr.git
  flutter_inappwebview: 6.1.5
  flutter_inset_shadow: 2.0.3
  flutter_localizations:
    sdk: flutter
  flutter_map: 8.2.1
  flutter_native_splash: 2.4.6
  flutter_secure_storage: 9.2.4
  flutter_widget_from_html_core: 0.17.0
  fpdart: 1.1.1
  fwfh_webview: 0.15.6
  go_router: 16.2.1
  gpt_markdown: 1.1.4
  html: 0.15.6
  intl: 0.20.2
  latlong2: 0.9.1
  matomo_tracker: 6.0.0
  meta: 1.16.0 # Bloqué en 1.16.0 par flutter_test
  native_dio_adapter: 1.5.0
  package_info_plus: 8.3.1
  pinput: 5.0.2
  rxdart: 0.28.0
  sentry_dio: 9.6.0
  sentry_flutter: 9.6.0
  share_plus: 11.1.0
  url_launcher: 6.3.2
  vector_graphics: 1.1.19
  vector_graphics_compiler: 1.1.19

dev_dependencies:
  bdd_widget_test: 2.0.1
  build_runner: 2.7.1 # bdd_widget_test don't use build 4
  dart_code_metrics_presets: 2.25.1
  faker: 2.2.0
  flutter_launcher_icons: 0.14.4
  flutter_test:
    sdk: flutter
  jagis_lints:
    path: ../packages/jagis_lints
  mocktail: 1.0.4
  mocktail_image_network: 1.2.0
  nested: 1.0.0
  plugin_platform_interface: 2.1.8
  url_launcher_platform_interface: 2.3.2

flutter:
  uses-material-design: true
  generate: true
  assets:
    - path: assets/images/
    - path: assets/svg/
      transformers:
        - package: vector_graphics_compiler
    - path: assets/svg/impact_co2_img_fruits_legumes/
      transformers:
        - package: vector_graphics_compiler
    - path: assets/svg/services/illustrations/
      transformers:
        - package: vector_graphics_compiler

# 'dart run flutter_native_splash:create' to update
flutter_native_splash:
  color: "#EDFEE7"
  color_dark: "#EDFEE7"
  image: "assets/launcher_icons/icon-splashscreen.png"
  android_12:
    image: "assets/launcher_icons/icon-splashscreen.png"
    icon_background_color: "#EDFEE7"
    icon_background_color_dark: "#EDFEE7"
